appdirs==1.4.4
browser_history==0.3.2
cryptography==36.0.2
ffmpeg==1.4
Flask==2.1.2
geocoder==1.38.1
httpq==1.1.1
keyboard==0.13.5
moviepy==1.0.3
psutil==5.9.1
pyaudio==0.2.11
PyAutoGUI==0.9.53
pydub==0.25.1
pyOpenSSL==22.0.0
pypykatz==0.5.7
servicemanager==2.0.10
toolbox==1.8.1
Turbo_Flask==0.8.0
unicrypto==0.0.5
